/* grids */
.minor-grid {
stroke: #cccccc;
stroke-width: 0.1;
shape-rendering: crispEdges;
}

.main-grid {
color: #212121;
stroke-width: 0.4;
shape-rendering: crispEdges;
}

/* ticks */
.axis line{
stroke: #3f3f3f;
shape-rendering: crispEdges;
}

/* contour */
.axis path {
stroke: #3f3f3f;
shape-rendering: crispEdges;
}

/* rectangle */
rect.rectangle {
fill: #ffffff;
stroke: #000000;
stroke-width: 1;
}

/* line */
path.freeline {
stroke: #808080;
stroke-width: 2;
fill: none;
}

/* radial shape */
path.radial {
stroke: none;
fill: #60e59b;
}